<h2 class="subtitle" id="{{ structure.type.baseTypeName }}">{{ structure.type.baseTypeName }}</h2>

<h3>Описание</h3>
<p class="sub-header">{{ structure.description }}</p>

<h3>Структура данных</h3>
<div class="table">
    <div class="part-table">
        <div class="row-header">
            <div>Название поля</div>
            <div>Тип поля</div>
            <div class="text-centered">Описание</div>
            <div>Обязательность</div>
            <div>Сервис</div>
            <div>Название поля сервиса</div>
        </div>
        {% for field in structure.allFieldsUnordered -%}
            {%- include 'field-row.html.twig' with {
                field: field,
                objectsLinks: objectsLinks,
                useAnchors: useAnchors,
                useServiceField: true
            } %}
        {%- endfor %}
    </div>
</div>

{%- include 'comment.html.twig' with { comment: structure.comment } %}
