<div class="header">
    <div class="search-block">
        <i class="icon-search"></i>
        <input type="text" placeholder="Поиск" data-relative-to-root-path="{{ relativeToRootPath }}">
        <div class="typeahead-container typeahead-container--hide"><div class="typeahead-content"></div></div>
    </div>

    <div class="logo">
        <img src="{{ imagesFolderPath }}/logo.png">
    </div>
</div>