<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" rel="stylesheet" href="{{ cssFolderPath }}/main.css?v=1.07" media="all">
    <link type="text/css" rel="stylesheet" href="{{ cssFolderPath }}/fonts.css?v=1.07" media="all">
    <link type="text/css" rel="stylesheet" href="{{ cssFolderPath }}/normalize.css" media="all">
</head>