<div class="page-data">
   <h2 id="main-concepts-protocol">Протокол общения между сервером и клиентом</h2>
   <p class="sub-header">HTTPS</p>

   <h2 id="main-concepts-style">Стиль построения API</h2>
   <p class="sub-header">REST</p>

   <h2 id="main-concepts-encoding">Используемая кодировка</h2>
   <p class="sub-header">UTF-8</p>

   <h2 id="main-concepts-delay">Допустимые задержки</h2>
   <p class="sub-header">Генерация ответа на сервере в среднем занимает меньше 1 секунды.</p>

   <h2 id="main-concepts-params">Передача параметров</h2>
   <p>Параметры передаются в виде JSON-объекта в теле запроса. Для всех запросов должен быть выставлен Content-Type: application/json.</p>

   <h2 id="main-concepts-enums">Перечисления</h2>
   <p class="sub-header">Перечисления в JSON-объектах передаются в виде типа string или integer.</p>

   <h2 id="main-concepts-general-response">Общий вид ответа сервера</h2>
   <p>Результат вызова любого метода представляет собоий JSON-объект следующей структуры:</p>
   <div class="table">
      <div class="part-table">
         <div class="row-header">
            <div>Название поля</div>
            <div>Тип поля</div>
            <div class="text-centered">Название</div>
            <div>Обязательность</div>
         </div>
         {% for field in responseClass.fields -%}
            {%- include 'field-row.html.twig' with {
                field: field,
                objectsLinks: objectsLinks,
                useAnchors: useAnchors
            } %}
         {% endfor %}
      </div>
   </div>
</div>
