{%- include 'blocks/head.html.twig' with { title: pageTitle, cssFolderPath: cssFolderPath } %}

<body class="main-page">
<div class="aside aside-left">
    <div class="header">
        {%- include 'blocks/menu-header.html.twig' %}
    </div>
    <div class="content">
        {%- include 'blocks/main-menu.html.twig' with { mainMenu: mainMenu } %}

        <ul class="secondary">
        {% for menu in menus %}
            {% include 'blocks/secondary-menu.html.twig' with {
            menu: menu,
            menuTitle: menu.title,
            activeItemTypeName: name
            } %}
        {% endfor %}
        </ul>

    </div>
</div>

<div class="aside aside-right">
    {%- include 'blocks/header.html.twig' with {
     imagesFolderPath: imagesFolderPath,
     methodsPath: methodsPath,
     relativeToRootPath: relativeToRootPath
    } %}

    <div class="content">
        <div class="page-data">
            {%- include 'blocks/method-body.html.twig' with {
             method: method,
             objectsLinks: objectsLinks
            } %}
        </div>
    </div>
</div>

{%- include 'blocks/scripts.html.twig' with { jsFolderPath: jsFolderPath } %}

</body>
</html>