*,
:after,
:before {
    box-sizing: border-box
}

html {
    font-size: 10px;
}

.text-centered {
    text-align: center;
}

body {
    background-color: #222933;
    font-size: 0;
    line-height: 0;
    min-width: 128rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.main-page {
    display: flex;
}

.gutter {
    cursor: col-resize;
    background-image: url("../images/vertical-split.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 200px;
}

.gutter:hover {
    background-color: #333c47;
}

.aside {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
}

.header {
    height: 7rem;
    font-size: 14px;
}

.content {
    min-height: calc(100vh - 7rem);
    font-size: 14px;
    line-height: 1rem;
}

.aside-left {
    min-width: 300px;
}

.aside-left .header {
    background-color: #333c48;
    border-right: 1px solid #323b46;
    border-bottom: 1px solid #2b333e;
}

.logo img {
    height: 3.6em;
    margin: .7em 0 0 2em;
}

.search-block {
    float: right;
    margin: 1.85rem 1.28rem 0 0;
    font-size: 1.28rem;
    padding: 0 1.07rem;
    border-radius: 1.71rem;
    border: 1px solid #E4E6EA;
    background: #F0F2F5;
    color: #8D9299;
    position: relative;
}

.search-block input[type="text"] {
    width: 21.5rem;
    height: 3.14rem;
    border: 0;
    background: transparent;
    padding-left: 0.71rem;
    color: #666;
    font-size: 1.42rem;
}

.search-block input[type="text"]::-webkit-input-placeholder {
    color: #777;
}

.search-block input[type="text"]:focus {
    outline: none;
}

.typeahead-container {
    position: absolute;
    width: 100%;
    background-color: white;
    padding: 1.3rem .6rem 1.3rem 1.3rem;
    box-shadow: 0 0 4px 1px #ccc;
    left: 0;
    top: 3.8rem;
}

.typeahead-container--hide {
    display: none;
}

.typeahead-container:hover {
    display: block;
}

.typeahead-content {
    width: 100%;
    max-height: 22rem;
    overflow: auto;
}

.typeahead-container a:hover {
    text-decoration: underline;
}

.typeahead-container a {
    display: block;
    line-height: 2.8rem;
    font-size: 1.5rem;
    color: #0ca9e6;
    text-decoration: blink;
    width: 85%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.typeahead-content::-webkit-scrollbar {
    width: 0.6rem;
}

.typeahead-content::-webkit-scrollbar-track {
    margin-right: 10px;
    padding-right: 10px;
}

.typeahead-content::-webkit-scrollbar-thumb {
    background-color: #d5d6d8;
    border-radius: 0.3rem;
}

.aside-left .content {
    background-color: #222933;
}

menu li {
    cursor: pointer;
}

.aside-left menu.main {
    list-style: none;
    margin: 0;
    background: #2b333e;
    padding: 0 0 2.2rem;
}

.aside-left menu.main li a {
    display: block;
    line-height: 4rem;
    vertical-align: middle;
    padding-left: 3.57rem;
    padding-right: 1.42rem;
    font-size: 1.57rem;
    color: #BEBFC1;
    text-decoration: none;
    transition: color .25s, background .25s linear;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.aside-left menu.main > li a:hover,
.aside-left menu.main > li.active a {
    background-color: #222933;
    padding-left: 3.14rem;
    border-left: 0.43rem solid #0ca9e6;
    color: white
}

.aside-left menu.main > li:first-child + li.active {
    margin-top: 0;
}

.aside-left menu.secondary {
    list-style: none;
    margin: 0;
    padding: 3.57rem 0 3.57rem 6.28rem;
}

.aside-left menu.secondary li a {
    line-height: 2.64rem;
    vertical-align: middle;
    font-size: 1.42rem;
    color: #0ca9e6;
    text-decoration: none;
    transition: line-height .3s ease-out 0s;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 1.42rem;
    display: inline-block;
    width: 100%;
}

.aside-left menu.secondary > li:not(.active) > a:hover {
    opacity: 0.8;
}

.aside-left menu.secondary > li.active > a {
    color: white
}

.aside-left menu.secondary > li.active menu.child {
    display: block;
}

.aside-left menu.child {
    display: none;
    list-style: none;
    margin: 6px 0;
    padding: 0 3.75rem 0 1.57rem;
    border-left: 1px solid #fff;
    min-width: 205px;
    width: auto;
}

.aside-left menu.child > li > a {
    color: #7a7f85;
}

.aside-left menu.child > li.active > a {
    color: #fff;
}

.aside-right {
    width: calc(100% - 38.85rem);
    background-color: #f0f2f5;
}

.aside-right .header {
    background-color: white;
    box-shadow: 2px 1px 3px 0 #e9ebee;
    width: calc(100% - 1.07rem);
    border-bottom: 1px solid #e1e3e4;
}

.title {
    font-size: 2rem;
    line-height: 2.4rem;
    padding-top: 2.2rem;
    color: white;
    padding-left: 4rem;
    font-weight: 700;
}

.aside-right .content {
    padding: 1rem;
}

.page-data {
    width: 100%;
    background-color: white;
    min-height: 100vh;
    border: 1px solid #e9ebee;
    padding: 5.28rem;
}

.content > .page-data:first-child {
    min-height: calc(100vh - 9rem);
}

.page-data h2 {
    font-size: 2rem;
    margin: 4.28rem 0 1rem;
    line-height: 2rem;
    font-weight: 500;
}

.page-data h2:first-child {
    margin-top: 0;
}

.page-data p {
    font-size: 1.57rem;
    color: #838890;
    line-height: 2.2rem;
    margin: 0.85rem 0 0;
}

.page-data p.sub-header {}

.page-data a {
    color: #000000;
    cursor: pointer;
    text-decoration: none;
}

.page-data a:hover {
    text-decoration: underline;
}

.page-data a.info,
.page-data li a {
    color: #0ca9e6;
}

.page-data h3 {
    font-size: 2rem;
    margin: 4.28rem 0 1rem;
    line-height: 2rem;
    font-weight: 500;
}

.page-data li {
    list-style: none;
    font-size: 1.57rem;
    color: #838890;
    line-height: 2.2rem;
    margin: 0.85rem 0 0;
    padding-left: 1.5rem;
}

.table--small.table {
    width: 50%;
    min-width: 350px;
}

.table:first-child {
    margin-top: 0
}

.table {
    width: 100%;
    border: 1px solid #c8cdd6;
    border-radius: 0.71rem 0.71rem 0 0;
    background-color: #e9edf3;
    margin-top: 1.71rem;
}

.table > .part-table {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

.table p {
    font-size: 1.4rem;
    margin: 0;
    line-height: 2rem;
}

.row-header {
    display: table-row;
}

.row-header > * {
    display: table-cell;
    font-size: 1.15rem;
    text-transform: uppercase;
    color: #838890;
    padding: 1rem;
    border-bottom: 1px solid #c8cdd6;
    border-right: 1px solid #c8cdd6;
    line-height: 1.8rem;
    white-space: nowrap;
}

.row-header > *:last-child {
    border-right: 0;
}

.row-body {
    display: table-row;
    background-color: white;
}

.row-body > * {
    display: table-cell;
    font-size: 1.4rem;
    color: #838890;
    line-height: 1.2em;
    padding: 1rem;
    border-bottom: 1px solid #c8cdd6;
    border-right: 1px solid #c8cdd6;
}

.row-body:last-child > * {
    border-bottom: 0;
}

.row-body > *:last-child {
    border-right: 0;
}

.part-block {
    display: block;
    font-size: 1.57rem;
    padding: 1.42rem 1.42rem 1.28rem;
    background-color: white;
    border-radius: 0 0 0.71rem 0.71rem;
    border-top: 1px solid #c8cdd6;
}

.example-response-expanded .part-block {
    border-radius: 0;
    border-bottom: 1px solid #c8cdd6;
}

.part-example-response {
    display: none;
    padding: 1.42rem 1.42rem 1.28rem;
}

.example-response-expanded .part-example-response {
    display: block;
}

.text-response {
    padding: 1.42rem;
    background-color: white;
    border: 1px solid #c8cdd6;
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.57rem;
    white-space: pre;
    font-family: monospace;
    min-height: 140px;
}

.example-response-expanded a.show-example-response:after {
    transform: rotate(225deg);
    top: 3px;
}

.example-response {
    padding: 1.4rem;
    background-color: #e9edf3;
    border: 1px solid #c8cdd6;
    margin-top: 10px;
}

.example-response > .text-response {
    display: block;
}

.part-example-response > .inputs {
    display: inline-block;
    width: 14.15rem;
    vertical-align: top;
    margin-right: 1.42rem;
}

.part-example-response .inputs label {
    display: block;
    font-size: 1.28rem;
    margin-top: 0.64rem;
    line-height: 1.28rem;
}

.part-example-response .inputs label input {
    width: 100%;
    padding: 0.85rem 0.85rem 0.78rem;
    margin-top: 0.35rem;
    border: 1px solid #c8cdd6;
    color: #838890;
    height: 3.28rem;
}

.part-example-response .inputs label input::-ms-clear {
    display: none;
}

.part-example-response .inputs label:first-child {
    margin-top: 0.57rem;
}

.styled-select {
    width: 100%;
    margin-top: 0.35rem;
    border: 1px solid #c8cdd6;
    background: white;
    overflow: hidden;
    position: relative;
}

.styled-select:after {
    content: '';
    display: block;
    position: absolute;
    top: 1.07rem;
    right: 1.07rem;
    border: 0.35rem solid #838890;
    border-bottom-color: transparent;
    border-right-color: transparent;
    transform: rotate(225deg);
}

.styled-select select {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    padding: 0.85rem;
    border: 0;
    color: #838890;
    background: transparent;
    -ms-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none !important;
}

.styled-select select::-ms-expand {
    display: none;
}

.styled-input {
    position: relative;
}

.clear-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    border: 1px solid #c9ccd3;
    color: #c9ccd3;
    background-color: #f7faff;
    width: 3.14rem;
    text-align: center;
    height: 1.71rem;
    font-size: 2.14rem;
    line-height: 1.15rem;
}

.null-btn {
    position: absolute;
    right: 0;
    bottom: 1.64rem;
    border: 1px solid #c9ccd3;
    color: #c9ccd3;
    background-color: #f7faff;
    width: 3.14rem;
    text-align: center;
    height: 1.64rem;
    font-size: 1rem;
    line-height: 1.57rem;
}

.clear-btn:hover,
.null-btn:hover {
    color: #999;
    cursor: pointer;
}

.disabled {
    pointer-events: none;
    color: #bdc0c5;
}

.disabled input {
    pointer-events: all;
    background-color: #f4f6f9;
}

.btn {
    background-color: #0ca9e6;
    border: 0;
    color: white;
    font-size: 1.42rem;
    padding: 1.15rem;
    width: 100%;
    margin-top: 1.71rem;
    font-weight: 500;
}

.part-example-response > .text-response {
    display: inline-block;
    width: calc(100% - 16rem);
    vertical-align: top;
    margin-top: 2.2rem;
    overflow: auto;
}

span.text-digit {
    color: #0060ff;
}

span.text-string {
    color: #037400;
}

a.show-example-response {
    color: #0275eb;
    cursor: pointer;
}

a.show-example-response:after {
    content: '';
    border: 0.42rem solid;
    position: relative;
    display: inline-block;
    border-top-color: transparent;
    border-left-color: transparent;
    transform: rotate(45deg);
    margin-left: 0.71em;
    top: -.28em;
}

/* оглавление и нумерованный список */

ol {
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: li;
}


.numbered-contents > ol > li,
.numbered-page-data li {
    padding: 0;
}

.numbered-contents li {
    padding-left: 2.5rem;
}

.numbered-page-data .page-data li h2,
.numbered-page-data .page-data li h2:first-child {
    margin: 4.28rem 0 1rem;
    color: #000000;
}

.numbered-contents a::before,
.numbered-page-data h2::before {
    counter-increment: li;
    content: counters(li, ".") ". ";
}

.numbered-contents a::after {
    content: leader(".") target-counter(attr(href url), page);
}

.numbered-page-data .page-data h3 {
    font-size: 2rem;
    margin: 4.28rem 0 1rem;
    line-height: 2rem;
    font-weight: 500;
}

.numbered-page-data .page-data h3:first-child {
    margin-top: 0;
}

/* версия для печати */

.print-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.print-title * {
    text-align: center;
}

.print-title h1 {
    line-height: 1;
    margin-top: 0;
}

.main-page .main-title {
    font-size: 2.5em;
    line-height: 1;
    page-break-before: always;
}

.main-page .subtitle {
    font-size: 2em;
    line-height: 1;
    font-weight: bold;

}

@media print {

    @page {
        size: A4 portrait;
        margin: 1.5cm 1cm;
        @bottom-right {
            content: counter(page) "/" counter(pages);
            font-family: 'Roboto', sans-serif;
        }
    }

    @page:first {
        @bottom-right {
            content: "";
        }
    }


    .main-page {
        min-width: 0;
        background-color: #ffffff;
    }

    .main-page .aside {
        display: block;
    }

    .main-page .aside.aside-left,
    .main-page .gutter,
    .main-page .header {
        display: none;
    }

    .main-page .aside-right {
        width: 100% !important;
        background-color: #ffffff;
    }

    .main-page .aside-right .content {
        padding: 0;
    }

    .main-page .page-data {
        box-sizing: border-box;
        min-height: 0;
        padding: 0;
        border: none;
    }

    .main-page .print-title {
        display: block;
        padding-top: 10.7cm;
    }

    .main-page .main-title {
        margin-top: 0;
    }

    .main-page .subtitle,
    .main-page .main-title + ol li .subtitle {
        page-break-before: always;
        margin-top: 0;
    }

    .main-page .main-title + ol li:first-child > .subtitle,
    .main-page .main-title + ol li:first-child > .page-data .subtitle {
        page-break-before: avoid;
        margin-top: 3.28rem;
    }

    .main-page h2 + p,
    .main-page h3 + p {
        page-break-before: avoid !important;
    }

    .main-page p {
        font-size: 1.57rem;
        color: #838890;
        line-height: 2.2rem;
        margin: 0.85rem 0 0;
    }

    .main-page li a {
        color: #838890;
    }

    .main-page a.info {
        color: #838890;
        text-decoration: underline;
    }

    .main-page .table {
        page-break-inside: avoid;
        page-break-before: avoid !important;
        border: none;
        border-radius: 0;
        background-color: transparent;
    }

    .main-page .table > .part-table {
        border-collapse: collapse;
    }

    .main-page .row-header > * {
        border-top: 1px solid #c8cdd6;
        border-bottom: 1px solid #c8cdd6;
        border-right: 1px solid #c8cdd6;
        background-color: #e9edf3;
    }

    .main-page .row-header > *:first-child {
        border-left: 1px solid #c8cdd6;
    }

    .main-page .row-body {
        display: table-row;
        background-color: white;
    }

    .main-page .row-body > * {
        border-bottom: 1px solid #c8cdd6;
        border-right: 1px solid #c8cdd6;
    }

    .main-page .row-body > *:first-child {
        border-left: 1px solid #c8cdd6;
    }
}
